header.header {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        width: 100%;
        max-width: 1440px;
    }

    .right-col {
        display: flex;
        align-items: center;
    }

    .nav-bar {
        margin-right: 50px;
    }

    ul.navigation-links {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            padding: 0 20px;

            a {
                display: flex;
                align-items: center;

                img {
                    width: 15px;
                }
            }
        }
    }
}