@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: "Manrope", sans-serif;
  cursor: default;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 30px;
  width: 100%;
  max-width: 1440px;
}
.container .inner .home-wrapper {
  position: relative;
  padding: 100px 150px 0 150px;
}
.container .inner .home-wrapper .title {
  font-size: 60px;
  font-weight: 200;
  max-width: 700px;
  width: 100%;
}
.container .inner .home-wrapper .vertical-col {
  position: absolute;
  top: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.container .inner .home-wrapper .vertical-col .letter {
  font-weight: 800;
  font-size: 18px;
}
.container .inner .home-wrapper .vertical-col .nominee {
  transform: rotate(-90deg);
  font-size: 15px;
}
.container .inner .reel-wrapper {
  background-image: url("../images/hands.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
.container .inner .reel-wrapper .video-player {
  transform: rotate(-7deg);
}
.container .inner .reel-wrapper .video-player.active {
  transform: rotate(0deg) !important;
}
.container .inner .links {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.container .inner .links .draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  padding: 15px 40px;
}
.container .inner .links .draw-border::before, .container .inner .links .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.container .inner .links .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.container .inner .links .draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.container .inner .links .draw-border:hover {
  color: #ffe593;
}
.container .inner .links .draw-border:hover::before, .container .inner .links .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.container .inner .links .draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.container .inner .links .draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.container .inner .links .links a {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  letter-spacing: 0.05rem;
}
.container .inner .links .links a:focus {
  outline: 2px dotted #55d7dc;
}
.container .work-together {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;
  background: linear-gradient(#000, rgba(14, 14, 14, 0.91));
  padding-bottom: 100px;
}
.container .work-together .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
.container .work-together .logos {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
.container .work-together .logos div {
  justify-self: center;
}
.container .work-together .logos img {
  width: 100%;
  max-width: 100px;
}

.container .inner.second {
  padding-top: 0;
}
.container .inner.second .about-us-and-careers-wrapper {
  display: flex;
  width: 100%;
  padding-top: 100px;
  margin-top: -100px;
}
.container .inner.second .about-us-and-careers-wrapper .about-us, .container .inner.second .about-us-and-careers-wrapper .careers {
  position: relative;
}
.container .inner.second .about-us-and-careers-wrapper .about-us .link, .container .inner.second .about-us-and-careers-wrapper .careers .link {
  margin-top: 30px;
}
.container .inner.second .about-us-and-careers-wrapper .about-us .content {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.container .inner.second .about-us-and-careers-wrapper .description {
  font-size: 25px;
  font-weight: 200;
  max-width: 70%;
}
.container .inner.second .about-us-and-careers-wrapper .careers .content {
  position: absolute;
  top: 10%;
  left: 10%;
}
.container .inner.second .about-us-and-careers-wrapper img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.container .inner.second .about-us-and-careers-wrapper .title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}
.container .inner.second .about-us-and-careers-wrapper .title img {
  width: 25px;
  filter: hue-rotate(90deg);
}
.container .inner.second .about-us-and-careers-wrapper a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 30px;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-family: "Mukta", sans-serif;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more {
  width: 12rem;
  height: auto;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(221, 59, 0);
  border-radius: 1.625rem;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.container .inner.second .about-us-and-careers-wrapper a:hover .circle {
  width: 100%;
}
.container .inner.second .about-us-and-careers-wrapper a:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.container .inner.second .about-us-and-careers-wrapper a:hover .button-text {
  color: #fff;
}
.container .inner.second .contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.container .inner.second .contact-us .title {
  font-weight: 300;
  font-size: 40px;
}
.container .inner.second .contact-us .left-col {
  width: 100%;
  padding-left: 5%;
}
.container .inner.second .contact-us .right-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .inner.second .contact-us .right-col button {
  background-color: transparent;
  border: none;
  font-size: 17px;
  padding: 8px 30px;
  cursor: pointer;
  border-bottom: 1px solid white;
  border-radius: 30px;
  transition: 0.4s;
  font-family: "Manrope", sans-serif;
}
.container .inner.second .contact-us .right-col button:hover {
  color: yellow;
}/*# sourceMappingURL=main.css.map */