@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
:root {
  --color-first: #fff;
  --color-second: #000;
  --color-third: #111111;
  --shadow: rgba(255, 255, 255, 0.5);
  --procent: 500%;
  --linear-grad: rgba(14, 14, 14, 0.91);
  --btn-draw-border-first: #58afd1;
  --btn-draw-border-second: #ffe593;
  --btn-hover: yellow;
}

.light-mode {
  --color-first: #111111;
  --color-second: #fff;
  --color-third: #fff;
  --shadow: rgba(34, 34, 34, 0.5);
  --procent: 100%;
  --linear-grad: #fff;
  --btn-draw-border-first: #107ba5;
  --btn-draw-border-second: rgb(221, 59, 0);
  --btn-hover: #900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--color-first);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-second);
  font-family: "Manrope", sans-serif;
  cursor: default;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 30px;
  width: 100%;
  max-width: 1440px;
}
.container .inner .home-wrapper {
  position: relative;
  padding: 100px 150px 100px 150px;
}
.container .inner .home-wrapper .title {
  font-size: 60px;
  font-weight: 200;
  max-width: 700px;
  width: 100%;
}
.container .inner .home-wrapper .vertical-col {
  position: absolute;
  top: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.container .inner .home-wrapper .vertical-col .letter {
  font-weight: 800;
  font-size: 18px;
}
.container .inner .home-wrapper .vertical-col .nominee {
  transform: rotate(-90deg);
  font-size: 15px;
}
.container .inner .reel-wrapper {
  background-image: url("../images/hands.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
.container .inner .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.container .inner .links .draw-border {
  box-shadow: inset 0 0 0 4px var(--btn-draw-border-first);
  color: var(--btn-draw-border-first);
  transition: color 0.25s 0.0833333333s;
  position: relative;
  padding: 15px 40px;
  font-size: 14px;
  white-space: nowrap;
}
.container .inner .links .draw-border::before, .container .inner .links .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.container .inner .links .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.container .inner .links .draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.container .inner .links .draw-border:hover {
  color: var(--btn-draw-border-second);
}
.container .inner .links .draw-border:hover::before, .container .inner .links .draw-border:hover::after {
  border-color: var(--btn-draw-border-second);
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.container .inner .links .draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.container .inner .links .draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.container .inner .links .links a {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  letter-spacing: 0.05rem;
}
.container .inner .links .links a:focus {
  outline: 2px dotted #55d7dc;
}
.container .work-together {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;
  background: linear-gradient(var(--color-second), var(--linear-grad));
  padding-bottom: 100px;
}
.container .work-together .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
.container .work-together .logos {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
.container .work-together .logos div {
  justify-self: center;
}
.container .work-together .logos img {
  width: 100%;
  max-width: 100px;
}

.container .inner.second {
  padding-top: 0;
}
.container .inner.second .about-us-and-careers-wrapper {
  display: flex;
  width: 100%;
  padding-top: 100px;
  margin-top: -100px;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more {
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  border-bottom: 1px solid #fff;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more:hover span:first-child {
  width: 200px;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more .button-text {
  position: relative;
  z-index: 2;
  color: #fff;
}
.container .inner.second .about-us-and-careers-wrapper a.learn-more span:first-child {
  background-color: orangered;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-left: 15px;
}
.container .inner.second .about-us-and-careers-wrapper .about-us, .container .inner.second .about-us-and-careers-wrapper .careers {
  position: relative;
}
.container .inner.second .about-us-and-careers-wrapper .about-us .link, .container .inner.second .about-us-and-careers-wrapper .careers .link {
  margin: 30px 15px 0 15px;
}
.container .inner.second .about-us-and-careers-wrapper .about-us .content {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.container .inner.second .about-us-and-careers-wrapper .description {
  font-size: 25px;
  font-weight: 200;
  max-width: 70%;
  color: #fff;
}
.container .inner.second .about-us-and-careers-wrapper .careers .content {
  position: absolute;
  top: 10%;
  left: 10%;
}
.container .inner.second .about-us-and-careers-wrapper img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.container .inner.second .about-us-and-careers-wrapper .title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}
.container .inner.second .about-us-and-careers-wrapper .title img {
  width: 25px;
  filter: hue-rotate(90deg);
}
.container .inner.second .contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.container .inner.second .contact-us .title {
  font-weight: 300;
  font-size: 40px;
}
.container .inner.second .contact-us .left-col {
  width: 100%;
  padding-left: 5%;
}
.container .inner.second .contact-us .right-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .inner.second .contact-us .right-col button {
  background-color: transparent;
  border: none;
  font-size: 17px;
  padding: 8px 30px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-first);
  border-radius: 30px;
  transition: 0.4s;
  font-family: "Manrope", sans-serif;
}
.container .inner.second .contact-us .right-col button:hover {
  color: var(--btn-hover);
}

@media (max-width: 992px) {
  .container .inner .home-wrapper {
    padding: 100px;
  }
}
@media (max-width: 920px) {
  .container .inner.second .contact-us {
    flex-direction: column;
    gap: 40px;
  }
  .container .inner.second .contact-us .left-col {
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }
  .work-together .logos {
    width: 100% !important;
  }
}
@media (max-width: 780px) {
  .about-us-and-careers-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 720px) {
  .container .inner .home-wrapper {
    padding: 100px 30px 100px 30px !important;
  }
}
@media (max-width: 700px) {
  .video-player {
    transform: scale(0.9) !important;
  }
  .reel-wrapper {
    padding: 100px 0 !important;
  }
}
@media (max-width: 600px) {
  .video-player {
    transform: scale(0.7) !important;
  }
  .home-wrapper .title {
    font-size: 50px !important;
  }
  .reel-wrapper {
    padding: 40px 0 !important;
  }
  .logos {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 470px) {
  .video-player {
    transform: scale(0.5) !important;
  }
  .home-wrapper .title {
    font-size: 35px !important;
  }
  .right-col {
    flex-direction: column;
  }
  .reel-wrapper {
    padding: 0px 0 !important;
  }
}
@media (max-width: 420px) {
  .video-player {
    transform: scale(0.4) !important;
  }
  .home-wrapper .title {
    font-size: 40px !important;
  }
}
@media (max-width: 380px) {
  .about-us-and-careers-wrapper .content .description {
    max-width: 100% !important;
  }
  a.learn-more {
    width: 170px !important;
  }
  a.learn-more:hover span:first-child {
    width: 170px !important;
  }
  .logos {
    grid-template-columns: 1fr !important;
  }
}/*# sourceMappingURL=main.css.map */